/*all padding and borders added will cut into the width, not add to it*/
* {    
    -moz-box-sizing: border-box; 
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

.layerable div{
	/*makes children line up on top of each other*/
	position: absolute;
}

.container { 
	width: 960px;
    height: 600px;      
   	border: 2px solid blue;
}

.scene{
	background: -webkit-linear-gradient(90deg, white, #E3F0FF), 
				linear-gradient(90deg, white, #E3F0FF);
	overflow: hidden;
}

