.wrap div{
	/*positions 2nd container behind 1st.  
	Very specific selector.  won't work in other order.  why?
	wrapper has to wrap both objects that'll be stacked on top of each other*/
	position: absolute;
}

.scene{
/*	...fallback colors make svg not import?  How's that happen?  
	figured it out:  multiple bg images, but only 1 fallback color needed,  I was going for 3...
	values relative to height + width of positioning area
	x, y*/
/*	background: url(../svg/wave_curvyShort.svg) no-repeat,
				url(../svg/wave_curvyTall.svg) no-repeat, 
				url(../svg/wave_topPointShort.svg) no-repeat;
	background-position: -150px 200px, -250px 280px, -50px 215px;
	background-size: 130%, 130%, 130%;*/
/*inline styleable svg and data uris not working... le sigh*/

	/*-webkit-animation: waves 3s linear infinite;*/

}

#wave_topPointShort{
	width: 1000px;
}

#wave_topPointTall{
	width: 1000px;

}

/*keyframes*/
@-webkit-keyframes waves{
	0%, 100%{background-position: -150px 200px, -250px 280px, -50px 215px;}
	35% {background-position:     -250px 215px, -50px 300px,   -150px 200px;}
	75% {background-position:     -50px 215px,  -150px 300px, -250px 215px;}


}


.lgTarget{
	width: 120px;
	height: 100px;
}

.smTarget{
	width: 80px;
	height: 67px;
	position: relative;
}

[class*=Target]{
	border-radius: 50%;
	background-color: orange;
	display: none;
}

[class*=Target]:hover{
	background-color: green;
}

