/*all padding and borders added will cut into the width, not add to it*/
* {    
    -moz-box-sizing: border-box; 
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

body{
	background: linen url("../images/tileable_wood_texture.png") repeat;
}

.layerable div{
	position: absolute;
}
.scene{
	position: relative;
	width: 960px;
    height: 600px;   
    margin: 35px auto 35px auto;   
   	border: 35px ridge gold;
   	box-shadow: 4px .5 black;
	background: -webkit-linear-gradient(90deg, white, #E3F0FF), 
				linear-gradient(90deg, white, #E3F0FF);
	overflow: hidden;
}

/*General Target Styles*/

[class*="Target"]{
	border-radius: 25%;
	z-index: 1050;
	position: absolute;
/*	background-color: green;*/
	opacity: 0;
}

.lgTarget{
	height: 300px;
	width: 300px;
}

.medTarget{
	height: 200px;
	width: 200px;
}

.smTarget{
	height: 150px;
	width: 150px;
}

.tinyTarget{
	height: 50px;
	width: 50px;
}

/*Large Targets*/

.lgTarget.one{
	top: 300px;
}

.lgTarget.two{
	left: 655px;
}

.lgTarget.three{
	left: 300px;
}

/*Medium Targets*/

.medTarget.one{
	left: 100px;
}

.medTarget.two{
	top: 400px;
	left: 750px;
}

.medTarget.three{
	top:350px;
	left: 325px;
}

.medTarget.four{
	top: 250px;
	left: 550px;
}

/*Small Targets*/

.smTarget.one{
	top: 450px;
	left: 550px;
}

.smTarget.two{
	top: 150px;
	left: 0px;
}

.smTarget.three{
	top: 200px;
	left: 200px;
}


/*Tiny Targets*/

.tinyTarget.two{
	top: 350px;
	left: 850px;
}
