
/*	Ids
	pirhanaContainer1-4
	flyingFish1 & 2

	Pirhana
	-webkit-animation: pirhanaHighJump 5s 1.5s linear infinite;
	-webkit-animation: pirhanaLowJump 5s 1.5s linear infinite;

	Flying Fish
	-webkit-animation: fly 7s .8s linear infinite; (to main fish container)
	-webkit-animation: straighten 7s .8s linear infinite; (to first child of fish container)
*/


/*lgTarget one*/
.lgTarget.one:hover{
	background-color: DodgerBlue;
	border: 20px solid linen;
}

.lgTarget.one:hover ~ #pirhanaContainer4{
	-webkit-animation: pirhanaHighJump 4s linear infinite;
}

.lgTarget.one:hover ~ #pirhanaContainer3{
	-webkit-animation: pirhanaLowJump 5s .5s linear infinite;
}

.lgTarget.one:hover ~ #pirhanaContainer1{
	-webkit-animation: pirhanaLowJump 4s .25s linear infinite;
}

/*lg target two*/
.lgTarget.two:hover{
	background-color: DodgerBlue;
	border: 20px solid linen;
}

.lgTarget.two:hover ~ #pirhanaContainer2{
	-webkit-animation: pirhanaHighJump 3s linear infinite;
}

.lgTarget.two:hover ~ #pirhanaContainer1{
	-webkit-animation: pirhanaHighJump 5s .75s linear infinite;
}

.lgTarget.two:hover ~ #pirhanaContainer4{
	-webkit-animation: pirhanaLowJump 8s .02s linear infinite;
}

/*lg target three*/
.lgTarget.three:hover{
	background-color: DodgerBlue;
	border: 20px solid linen;
}

.lgTarget.three:hover ~ #pirhanaContainer2{
	-webkit-animation: pirhanaHighJump 2s linear infinite;
}

.lgTarget.three:hover ~ #pirhanaContainer1{
	-webkit-animation: pirhanaLowJump 5s linear infinite;
}

.lgTarget.three:hover ~ #pirhanaContainer4{
	-webkit-animation: pirhanaLowJump 3s linear infinite;
}

/*med target one*/
.medTarget.one:hover{
	background-color: DodgerBlue;
	border: 20px solid linen;
}

.medTarget.one:hover ~ #pirhanaContainer2{
	-webkit-animation: pirhanaHighJump 4s .1s linear infinite;
}

.medTarget.one:hover ~ #pirhanaContainer1{
	-webkit-animation: pirhanaLowJump 3s linear infinite;
}


/*med target two*/
.medTarget.two:hover{
	background-color: DodgerBlue;
	border: 20px solid linen;
}

.medTarget.two:hover ~ #pirhanaContainer4{
	-webkit-animation: pirhanaLowJump 2s linear infinite;
}

.medTarget.two:hover ~ #pirhanaContainer3{
	-webkit-animation: pirhanaHighJump 4s .25s linear infinite;
}

.medTarget.two:hover ~ #pirhanaContainer1{
	-webkit-animation: pirhanaHighJump 5s .5s linear infinite;
}

/*med target three*/

.medTarget.three:hover{
	background-color: DodgerBlue;
	border: 20px solid linen;
}

.medTarget.three:hover ~ #pirhanaContainer2{
	-webkit-animation: pirhanaHighJump 5s linear infinite;
}

.medTarget.three:hover ~ #pirhanaContainer3{
	-webkit-animation: pirhanaLowJump 4s .25s linear infinite;
}


/*med target four*/

.medTarget.four:hover{
	background-color: DodgerBlue;
	border: 20px solid linen;
}

.medTarget.four:hover ~ #pirhanaContainer3{
	-webkit-animation: pirhanaHighJump 3s linear infinite;
}

.medTarget.four:hover ~ #pirhanaContainer4{
	-webkit-animation: pirhanaLowJump 3s .25s linear infinite;
}

/*sm target one*/

.smTarget.one:hover{
	background-color: DodgerBlue;
	border: 20px solid linen;
}

.smTarget.one:hover ~ #pirhanaContainer3{
	-webkit-animation: pirhanaHighJump 5s linear infinite;
}

.smTarget.one:hover ~ #pirhanaContainer2{
	-webkit-animation: pirhanaLowJump 4s .25s linear infinite;
}

/*sm target two*/

.smTarget.two:hover{
	background-color: DodgerBlue;
	border: 20px solid linen;
}

.smTarget.two:hover ~ #pirhanaContainer1{
	-webkit-animation: pirhanaHighJump 4s linear infinite;
}

.smTarget.two:hover ~ #pirhanaContainer2{
	-webkit-animation: pirhanaLowJump 4s .06s linear infinite;
}

/*sm target three*/
.smTarget.three:hover{
	background-color: DodgerBlue;
	border: 20px solid linen;
}

.smTarget.three:hover ~ #pirhanaContainer2{
	-webkit-animation: pirhanaHighJump 4s linear infinite;
}

.smTarget.three:hover ~ #pirhanaContainer4{
	-webkit-animation: pirhanaLowJump 6s .5s linear infinite;
}
