.ffish_body{
	top: 142px;
	left: 40px;
	z-index: 30;
}
.ffish_FinContainer{
	top: 0px;
	left: 0px;
	-webkit-transform-origin: 60% 65%;
	-webkit-transform: rotate(-10deg);
}
.ffish_TailFinContainer{
	top: 134px;
	left: 130px;
	-webkit-transform-origin: 5% 33%;
	-webkit-transform: rotate(10deg);
}
.ffish_tail{
	z-index: 70;
} 
.ffish_frontdorsal{
	top:70px;
	left:-30px;
	-webkit-transform: rotate(60deg);
	z-index: 90;
} 
.ffish_backdorsal{
	top:-110px;
	left:15px;
	-webkit-transform: rotate(-60deg);
	z-index: 50;
} 
.ffish_head{
	z-index: 80;
}  
.ffish_frontfin{
	top: 160px;
	left: -15px;
	-webkit-transform: rotate(60deg);
	z-index: 100;
} 
.ffish_backfin{
	top: -90px;
	left: 65px;
	z-index: 40;
	-webkit-transform: rotate(-80deg);
}
#ffishContainer1{
	top: 350px;
	left: 1000px;
	z-index: 860;
	-webkit-transform-origin: -500% 2000%;
/*	-webkit-animation: fly 2s 3s linear infinite;*/
}
#ffishContainer2{
	top: 200px;
	left: 100px;
	-webkit-transform-origin: -500% 2000%;
/*	-webkit-animation: fly 2.5s linear infinite;*/
}
.flip{
		z-index: 360;
	-webkit-transform: scaleX(-1);
}

/*flying fish keyframes*/

@-webkit-keyframes fly{
	0% {-webkit-transform: rotate(0deg);}
	100% {-webkit-transform: rotate(-80deg);}
}